<html>
  <body>

    <!-- @TODO: Consider installing dustJS helpers...     -->
    {#results}
      <div class="result_item">
        <h2 class="result_heading_title">{title} <!--({changed_items_length})--> <span class="regex">{regex}</span></h2>
        <table class="result_table">
          {#results}
            {#matches}
              <tr>
                <td width="290px" class="text">{matchText}</td>
                <td width="10px" class="file_url"><a href="javascript:;" data-uri="{#filterPath}{filePath}{/filterPath}" data-coords="{range}">{#filterPath}{filePath}{/filterPath}</a></td>

              </tr>
            {/matches}
          {:else}
            I AM EMPTY <!-- FIXME: Why is this not working? Is it because it's not the official dust.js repo?-->
          {/results}
        </table>
      </div>
    {/results}
<!--   <img src="atom://todo-show/screenshots/preview.png" alt="" /> -->

  </body>
</html>
