'menu': [
  'label': 'Packages'
  'submenu': [
    'label': 'Todo-Show'
    'submenu': [
      'label': 'Find in Project'
      'command': 'todo-show:find-in-project'
    ]
  ]
]

'context-menu':
  '.show-todo-preview': [
    {label: 'Save As Text\u2026', command: 'core:save-as'}
    {label: 'Refresh Todos', command: 'core:refresh'}
  ]
